<%= form_with(model: basic, local: true) do |form| %>
  <% if basic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(basic.errors.count, "error") %> prohibited this basic from being saved:</h2>

      <ul>
      <% basic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :base_title %>
    <%= form.text_field :base_title, id: :basic_base_title %>
  </div>

  <div class="field">
    <%= form.label :facebook %>
    <%= form.text_field :facebook, id: :basic_facebook %>
  </div>

  <div class="field">
    <%= form.label :twitter %>
    <%= form.text_field :twitter, id: :basic_twitter %>
  </div>

  <div class="field">
    <%= form.label :github %>
    <%= form.text_field :github, id: :basic_github %>
  </div>

  <div class="field">
    <%= form.label :linkedin %>
    <%= form.text_field :linkedin, id: :basic_linkedin %>
  </div>

  <div class="field">
    <%= form.label :viadeo %>
    <%= form.text_field :viadeo, id: :basic_viadeo %>
  </div>

  <div class="field">
    <%= form.label :resume %>
    <%= form.check_box :resume, id: :basic_resume %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
