<%= form_with(model: @basic, local: true, url: basics_path) do |f| %>
  <% if @basic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@basic.errors.count, "error") %> prohibited this basic from being saved:</h2>

      <ul>
      <% @basic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :base_title %>
    <%= f.text_field :base_title, id: :basic_base_title %>
  </div>

  <div class="field">
    <%= f.label :resume %>
    <%= f.check_box :resume, id: :basic_resume %>
  </div>

  <div class="field">
    <%= f.label :logo %>
    <%= f.file_field :logo, id: :basic_logo %>
  </div>

  <div id="social_networks">
    <%= f.fields_for :social_networks do |sn| %>
      <%= render 'social_networks', f: sn %>
    <% end %>

    <div class="links">
      <%= link_to_add_association 'Ajouter', f, :social_networks %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
