<p id="notice"><%= notice %></p>

<p>
  <strong>Base title:</strong>
  <%= @basic.base_title %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @basic.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @basic.twitter %>
</p>

<p>
  <strong>Github:</strong>
  <%= @basic.github %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @basic.linkedin %>
</p>

<p>
  <strong>Viadeo:</strong>
  <%= @basic.viadeo %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @basic.resume %>
</p>

<%= link_to 'Edit', edit_basic_path %> |
<%= link_to 'Back', basics_path %>
