<p id="notice"><%= notice %></p>

<p>
  <strong>Base title:</strong>
  <%= @basic.base_title %>
</p>

<p>
  <strong>Resume:</strong>
  <%= @basic.resume %>
</p>

<%= link_to 'Edit', edit_basics_path %> |
<%= link_to 'Back', basics_path %>
