<%= form_with(model: portfolio, local: true) do |f| %>
  <% if portfolio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(portfolio.errors.count, "error") %> prohibited this portfolio from being saved:</h2>

      <ul>
      <% portfolio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, id: :portfolio_title %>
  </div>

  <div class="field">
    <%= f.label :tags %>
    <%= f.text_field :tags, id: :portfolio_tags %>
  </div>

  <div class="field">
    <%= f.label :thumbnail %>
    <%= f.file_field :thumbnail, id: :portfolio_thumbnail %>
  </div>

  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website, id: :portfolio_website %>
  </div>

  <div class="field">
    <%= f.label :creation_time %>
    <%= f.datetime_select :creation_time, id: :portfolio_creation_time %>
  </div>

  <div class="field">
    <%= f.label :public %>
    <%= f.check_box :public, id: :portfolio_public %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, id: :content %>
  </div>

  <div class="field">
    <%= f.label :illustrations %>
    <%= f.file_field :illustrations, id: :portfolio_illustrations, multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
