<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_pack_tag 'admin' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
<% if alert %>
  <div class="hidden" title="solomess-alert"><%= alert %></div>
<% end %>
<% if notice %>
  <div class="hidden" title="solomess-notice"><%= notice %></div>
<% end %>

  <%= yield %>

  <%= javascript_pack_tag 'back-office' %>
</body>
</html>
