<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application' %>
</head>

<body class="<%= controller_name %> <%= action_name %>">
  <% if notice %>
      <p class="notice"><%= notice %></p>
  <% elsif alert %>
      <p class="alert"><%= alert %></p>
  <% end %>

  <ul>
    <li>
      <%= link_to 'Accueil', root_path %>
    </li>
    <li>
      <%= link_to 'Articles', home_article_index_path %>
    </li>
    <li>
      <%= link_to 'Portfolio', home_portfolio_index_path %>
    </li>
    <li>
      <%= link_to 'A propos de ma gueule', root_path %>
    </li>
    <li>
      <%= link_to 'Contact', new_contact_path %>
    </li>
  </ul>

  <%= yield %>

  <%= javascript_pack_tag 'front' %>
</body>
</html>
